.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../../images/background.jpeg);
  background-size: cover;
  background-position: center;
  padding: 150px 0px;
  color: white;
  height: 50vh
}

.banner h1 {
  font-size: 3rem;
  margin: 0;

}

.banner h2 {
  font-size: 1.5rem;
  opacity: 0.9;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 40px;
}